
<h1 class="display-1 text-center text-info">Change Password</h1>
<form action="" class="form mt-5 w-50 mx-auto" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
    <p *ngIf=" registrationError" class="text-danger fw-bold">{{registrationError.errorMessage}}</p>

    <label for="" class="form-label mt-3">Enter Username</label>
    <input type="text" class="form-control" formControlName="Username">

   

    <label for="" class="form-label mt-3">Add New Password</label>
    <input type="password" class="form-control" formControlName="Password">

    <button class="btn btn-warning d-block mx-auto w-100 mt-3" type="submit">Change Password</button>
</form>
