.movie{
    background-color: #242333;
}





.screen{
    background-color: white;
    height: 80px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.movie-container{
    perspective: 1000px;
}